<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-plant-heading" data-cy="PlantCreateUpdateHeading" jhiTranslate="ecomApp.plant.home.createOrEditLabel">
        Create or edit a Plant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ecomApp.plant.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ecomApp.plant.latinName" for="field_latinName">Latin Name</label>
          <input type="text" class="form-control" name="latinName" id="field_latinName" data-cy="latinName" formControlName="latinName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ecomApp.plant.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ecomApp.plant.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="ecomApp.plant.stock" for="field_stock">Stock</label>
          <input type="number" class="form-control" name="stock" id="field_stock" data-cy="stock" formControlName="stock" />
        </div>

        <div
          *ngIf="!files.length"
          class="col-12 rmpm dropzone"
          jhiDragNDrop
          (files)="filesDropped($event)"
        >

          <div class="text-wrapper">
            <br>
            <br>
            <div class="centered">Drop your file here!</div>
            <br>
            <br>
          </div>
        </div>
        <!--droped image preview-->
        <div *ngFor="let file of files">
          <img *ngIf="file" [src]="file.url" width="100px" height="100px" />
        </div>

        <button type="button" (click)="upload()">Upload Image</button>
        <br>
        <br>
        <ng-template ngFor let-file [ngForOf]="files_names">
          <li>{{file}}</li>
        </ng-template>
        <br>
        <button type="button" (click)="clean_files()">Clean images files</button>
        <br>
        <br>
        <div class="row mb-3">
          <label jhiTranslate="ecomApp.plant.categories" for="field_categories">Categories</label>
          <select
            class="form-control"
            id="field_categories"
            data-cy="categories"
            multiple
            name="categories"
            formControlName="categories"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categoriesSharedCollection">{{ categoryOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
