<jhi-alert class="toaster float-end"></jhi-alert>

<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger" *ngIf="error">
        <strong>Un problème a été rencontré</strong>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4" *ngIf="!error">
  <!-- all -->
  <div class="row justify-content-end m-5">
    <!-- Search bar, sort by, back to top, views, arrows, product card -->
    <div class="col-md-8 order-md-2 col-lg-9">
      <!-- Search bar, views, arrows -->
      <div class="row justify-content-between">
        <!-- Search bar -->
        <div class="form-group has-search col-md-7 mt-0-5">
          <input type="text" class="form-control" placeholder="Rechercher" [ngModel]="searchWord" (ngModelChange)="newSearchWord($event)" />
        </div>
        <!-- Views -->
        <div class="col">
          <div class="row justify-content-end">
            <div
              ngbDropdown
              class="dropdown col-md-auto"
              display="dynamic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <label class="mr2">Vues:</label>
              <a
                ngbDropdownToggle
                class="btn btn-mg btn-light rounded-3 dropdown-toggle"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ size }}</a
              >
              <div
                ngbDropdownMenu
                class="dropdown-menu"
                aria-labelledby="size-menu"
                style="will-change: transform; position: absolute; transform: translate3d(120px, 48px, 0px); top: 0px; left: 0px"
              >
                <a ngbDropdownItem class="dropdown-item" (click)="changeSizePlants(6)">6</a>
                <a ngbDropdownItem class="dropdown-item" (click)="changeSizePlants(12)">12</a>
              </div>
            </div>
            <!-- Arrows -->
            <div class="col-md-auto ps-2">
              <nav aria-label="Search results page">
                <ul class="pagination">
                  <li class="page-item">
                    <button type="button" class="btn btn-mg btn-light rounded" [disabled]="isFirstPage" (click)="downPage()">
                      <fa-icon icon="arrow-left"></fa-icon>
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="btn btn-mg btn-unactived shadow-none">{{ currentPage + 1 }} / {{ totalPage }}</button>
                  </li>
                  <li class="page-item">
                    <button type="button" class="btn btn-mg btn-light rounded" [disabled]="isLastPage" (click)="upPage()">
                      <fa-icon icon="arrow-right"></fa-icon>
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr-mts" />

      <!-- Sort by -->
      <div class="row">
        <!-- Sort by -->
        <div class="col-md-auto">
          <label class="mr2">Trier par :</label>
          <div class="col-md-auto btn-group" aria-label="Sort By Button">
            <input type="radio" class="btn-check" name="sortby" id="btnSortAscending" (click)="sortByAscendingPrice()" [(ngModel)]="sortby" [value]="'asc'"/>
            <label class="btn" for="btnSortAscending">Prix: croissant</label>
            <input type="radio" class="btn-check" name="sortby" id="btnSortDescending" (click)="sortByDescendingPrice()" [(ngModel)]="sortby" [value]="'desc'"/>
            <label class="btn" for="btnSortDescending">Prix: décroissant</label>
          </div>
        </div>
      </div>

      <hr />

      <!-- Product Card -->
      <div class="row">
        <ng-container *ngFor="let plant of plants">
          <div class="col-6 col-md-6 col-lg-4 mb-3">
            <div class="card-catalog h-100 border-0" [ngStyle]="{ filter: !plant.stock || plant.stock <= 0 ? 'grayscale(1)' : '' }">
              <div class="card-img-top position-relative">
                <a routerLink="/plant/{{ plant.id }}" class="no-underline font-weight-bold text-dark text-uppercase small">
                  <img src="{{ getPath(plant) }}" class="img-fluid mx-auto d-block" alt="Card image cap" />
                  <div *ngIf="best_sell(plant)">
                    <img src="{{ GetBestSellPath() }}" class="img-fluid mx-auto d-block best_sell" alt="Best Seller" />
                  </div>
                </a>
              </div>
              <div class="card-body text-center">
                <h4 class="card-title">
                  <a routerLink="/plant/{{ plant.id }}" class="no-underline font-weight-bold text-dark text-uppercase small">
                    {{ plant.name }}</a
                  >
                </h4>
                <h5>
                  <p class="font-italic">{{ plant.latinName }}</p>
                </h5>
                <div>
                  <h5 class="card-price text-warning size2">{{ plant.price }}€</h5>
                  <button
                    *ngIf="plant.stock && plant.stock > 0"
                    onClick="this.blur()"
                    type="button"
                    class="btn btn-default btn-sm"
                    (click)="addToCart(plant)"
                  >
                    <fa-icon icon="cart-plus"></fa-icon>
                    Ajouter au panier
                  </button>
                  <p *ngIf="!plant.stock || plant.stock <= 0" class="size1">Pas en stock</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- back to top, Views, Arrows -->
      <ng-container *ngIf="!hasNoPlants">
        <div class="row mt-1 justify-content-between">
          <div class="col-md-5 mt-1">
            <!-- Button back to top -->
            <a class="btn btn-mg" (click)="scrollToTop()"> <fa-icon icon="arrow-up"></fa-icon> Retour haut de page </a>
          </div>
          <!-- Arrows -->
          <div class="col-md-auto">
            <nav aria-label="Search results page">
              <ul class="pagination">
                <li class="page-item">
                  <button type="button" class="btn btn-mg btn-light rounded" [disabled]="isFirstPage" (click)="downPage()">
                    <fa-icon icon="arrow-left"></fa-icon>
                  </button>
                </li>
                <li class="page-item">
                  <button class="btn btn-mg btn-unactived shadow-none">{{ currentPage + 1 }} / {{ totalPage }}</button>
                </li>
                <li class="page-item">
                  <button type="button" class="btn btn-mg btn-light rounded" [disabled]="isLastPage" (click)="upPage()">
                    <fa-icon icon="arrow-right"></fa-icon>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- Printing, Categories, Slider for price, reset buttons -->
    <div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
      <!-- Printing -->
      <h3 class="mb-5">
        <span class="text-primary">{{ totalPlants }}</span> produits
      </h3>
      <h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
      <!-- Categories -->
      <div *ngFor="let type of categoryTypes">
        <div class="divider mt-3 mb-3 border-bottom border-secondary"></div>
        <div *ngFor="let cat of categories">
          <div *ngIf="cat.categoryType == type" class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (change)="filterPlantsFromCategory(cat)" [checked]="categoriesSelected.includes(cat.id)"/>
              <label class="custom-control-label">{{ cat.categoryName }}</label>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider price -->
      <div class="divider mt-5 mb-3 border-bottom border-secondary">
        <h6 class="text-uppercase font-weight-bold mb-3">Prix</h6>
      </div>
      <div class="mt-3 mb-3">
        <div class="range">
          <label class="mb-3"
            >De <b>{{ minPrice }}</b> € à <b>{{ maxPrice }}</b> €</label
          >
          <div class="range-slider">
            <span id="totalSlider" [ngStyle]="{ left: leftSlide + '%', right: rightSlide + '%' }" class="range-selected"></span>
          </div>
          <div class="range-input mb-3">
            <input
              id="fromSlider"
              type="range"
              min="0"
              [max]="maxRange"
              [(ngModel)]="minPrice"
              (input)="controlFromSlider($event)"
              (change)="controlFromSliderChange($event)"
            />
            <input
              id="toSlider"
              type="range"
              min="0"
              [max]="maxRange"
              [(ngModel)]="maxPrice"
              (input)="controlToSlider($event)"
              (change)="controlToSliderChange($event)"
            />
          </div>
        </div>
      </div>
      <!-- reset button -->
      <div class="mt-5 mb-5 text-center">
        <button type="button" class="btn btn-primary" (click)="resetFilter()">Réinitialiser</button>
      </div>
    </div>
  </div>
</div>
