.toaster {
  position: fixed;
  right: 50px;
  z-index: 99;
}

.card {
  background: #e5e5e5;
}

.parem{
  position: relative;
}

.best_sell{
  position : absolute;
  width : 100px;
  height : 100px;
  top:0;
  left:0;
}

.imTop{
  position: relative;
}
