#parent {
  white-space: nowrap;
}
.child {
  display: inline-block;
}

td {
  vertical-align: middle;
}

h4 {
  margin-bottom: 0;
}

.btn:disabled {
  background-color: #808080;
  border-color: #000000;
}
