<jhi-alert class="toaster float-end"></jhi-alert>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h2><span class="glyphicon glyphicon-shopping-cart"></span> Panier</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getItems()">
                <ng-container *ngIf="item">
                  <td>
                    <img class="child" src="{{ this.imgUrl + item.plant.imagePath }}" width="96px" height="96px" alt="" />
                    <h3 class="child mx-3">
                      <strong>{{ item.plant.name }}</strong>
                    </h3>
                  </td>
                  <td>
                    <h4>
                      <strong> {{ item.plant.price }} <span class="text-muted">€</span> </strong>
                    </h4>
                  </td>
                  <td>
                    <button type="button" class="btn btn-link btn-m" (click)="lessItem(item.plant)">
                      <fa-icon icon="minus"></fa-icon>
                    </button>
                    {{ item.get_quantity() }}
                    <button type="button" class="btn btn-link btn-m" (click)="addItem(item)">
                      <fa-icon icon="plus"></fa-icon>
                    </button>
                    <div *ngIf="item.plant.stock && item.plant.stock < 10" class="child">
                      <fa-icon icon="exclamation-triangle"></fa-icon>
                      Stock faible : {{ item.plant.stock }} objets restants
                    </div>
                  </td>
                  <td>
                    <h4 class="child">
                      <strong> {{ item.get_price() }} <span class="text-muted">€</span> </strong>
                    </h4>
                    <button type="button" class="btn btn-link btn-m child" (click)="removeItem(item.plant)">
                      <fa-icon icon="trash-alt" style="color: red"></fa-icon>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <h4 class="text-right">
                Total <strong>{{ getTotal() }} €</strong>
              </h4>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-default btn-sm btn-block" (click)="Clear()">Vider le panier</button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-success btn-block" routerLink="/payment">Payement</button>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
