<div class="container">
  <div class="row">
    <div *ngIf="addresses && addresses.length > 0">
      <label>Ecrire une addresse</label>
      <br>
      <select #addrdropdown [(ngModel)]='selectedAddrIndex' (change)="test()">
        <option [value]='-1' selected>Sélectionner une addresse</option>
        <option *ngFor="let addr of addresses; let i = index" [value]="i">{{ addr.street}}, {{ addr.zipCode }} {{ addr.street }}</option>
      </select>
    </div>
    <div class="col">
      <form (ngSubmit)="submit()">
        <div class="form-delivery">
          <h3>Informations pour la livraison</h3>
          <!-- Information pour la livraison -->
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Adresse" [ngModel]="inputAddr" name="inputAddress"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Code postal" [ngModel]="inputZipcode" name="inputZipCode"/>
            </div>
            <div class="col">
              <input type="text" placeholder="Ville" [(ngModel)]="inputCity" name="inputCity"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Informations complémentaires" [(ngModel)]="inputAddInfo" name="inputAdditionalInfo"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="checkbox" id="saveCheck" />
              <label for="saveCheck">Enregistrer adresse</label>
            </div>
          </div>
        </div>
        <!-- FIN Information pour la livraison -->
        <!-- Information pour le paiment -->
        <div class="form-payment">
          <h3>Informations pour le paiement</h3>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Numéro carte" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="mm/aaaa" />
            </div>
            <div class="col">
              <input type="text" placeholder="Code secret" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" placeholder="Nom et prénom propriétaire" />
            </div>
          </div>
        </div>
        <!-- Information pour le paiment -->
        <button type="submit">Payer</button>
      </form>
    </div>
  </div>
</div>
