<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plants">
      <h2 data-cy="plantsDetailsHeading"><span jhiTranslate="ecomApp.plants.detail.title">Plants</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ plants.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.name">Name</span></dt>
        <dd>
          <span>{{ plants.name }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.latinName">Latin Name</span></dt>
        <dd>
          <span>{{ plants.latinName }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.description">Description</span></dt>
        <dd>
          <span>{{ plants.description }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.price">Price</span></dt>
        <dd>
          <span>{{ plants.price }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.stock">Stock</span></dt>
        <dd>
          <span>{{ plants.stock }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.imagePath">Image Path</span></dt>
        <dd>
          <span>{{ plants.imagePath }}</span>
        </dd>
        <dt><span jhiTranslate="ecomApp.plants.categories">Categories</span></dt>
        <dd>
          <span *ngFor="let categories of plants.categories; let last = last">
            <a [routerLink]="['/category', categories.id, 'view']">{{ categories.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/plants', plants.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
