<div>En Cours</div>

<div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date D'achat</th>
          <th scope="col">Etat</th>
          <th scope="col">Détail</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let command of progress_command" >
        <ng-container *ngIf="command">
          <tr>
              <td>
                <h3 class="child mx-3">
                  <strong>{{ command.id }}</strong>
                </h3>
              </td>
              <td>
                <h4 class="child">
                  {{ command.purchaseDate }}
                </h4>
              </td>
              <td>
                <div *ngIf="command.state == CommandState.InProgress; else shipping">Commande en cours de préparation</div>
                <ng-template #shipping>Commande en cours de livraison </ng-template>
              </td>
              <td>
                <button (click)="commandExpanded[command.id] = !commandExpanded[command.id]">
                  Voir le détail
                </button>
              </td>
              <td>
                <h4 class="child">
                  <strong> {{ getPrice(command) }} <span class="text-muted">€</span> </strong>
                </h4>
                <button *ngIf="command.state == CommandState.InProgress" type="button" class="btn btn-link child" (click)="openConfirmationDialog(command)">
                  <fa-icon icon="xmark" style="color: red"></fa-icon>
                </button>
              </td>
          </tr>
          <ul *ngIf="commandExpanded[command.id]">
            <li *ngFor="let commandItem of command.commandItems">
              x{{commandItem.quantity}} {{commandItem.plant?.name}} {{commandItem.plant?.price}}€/unité
            </li>
          </ul>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div>Terminées</div>

<div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date D'achat</th>
          <th scope="col">Etat</th>
          <th scope="col">Détail</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let command of list_command_passed" >
          <ng-container *ngIf="command">
            <tr>
              <td>
                <h3 class="child mx-3">
                  <strong>{{ command.id }}</strong>
                </h3>
              </td>
              <td>
                <h4 class="child">
                  {{ command.purchaseDate }}
                </h4>
              </td>
              <td>
                <div *ngIf="command.state == CommandState.Completed; else annul">Commande terminée</div>
                <ng-template #annul> Commande Annulée </ng-template>
              </td>
              <td>
                <button (click)="commandExpanded[command.id] = !commandExpanded[command.id]">
                  Voir le détail
                </button>
              </td>
              <td>
                <h4 class="child">
                  <strong> {{ getPrice(command) }} <span class="text-muted">€</span> </strong>
                </h4>
              </td>
            </tr>
            <ul *ngIf="commandExpanded[command.id]">
              <li *ngFor="let commandItem of command.commandItems">
                x{{commandItem.quantity}} {{commandItem.plant?.name}} {{commandItem.plant?.price}}€/unité
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
