<body>
  <div class="header" ></div>

  <div class="title">
    <h1> Bienvenue chez la Serre Enchantée ! </h1>
  </div>

  <div class="content">
      <h2>
        Nous vous avons préparé une sélection de plantes en tout genre <br>
        <br>
        Livraison à domicile sans frais de port ! <br>
        Venez profiter de nos magnifiques plantes comme notre magnifique {{getName()}} <br>
      </h2>
      <img class="img_az" src="{{getPath()}}" alt="Image de lotus">
      <h2>
        Cliquez sur le bouton afin de pouvoir accéder au catalogue et commander votre incroyable {{getName()}} <br>
      </h2>
    <br>
    <div class="burton">
      <button class="flower" routerLink="/catalog">
        <fa-icon icon="sun-plant-wilt"></fa-icon>
      </button>
    </div>
  </div>
</body>

