body{
  height:250vh;
}


.header{
  display:flex;
  height: 1000px;
  width: 100%;
  background-image: url("https://ecom1465.blob.core.windows.net/test/serre.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:40px;
  box-sizing: border-box;
}


.content{
  padding:40px;
  box-sizing: border-box;
}

.burton{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flower{
  background:#487526;
  height:50px;
  width:70px;
  font-size:35px;
}

.img_az{
  height:50em;
  width: auto;
}
