<div>
  <h2 id="page-heading" data-cy="PlantHeading">
    <span jhiTranslate="ecomApp.plant.home.title">Plants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecomApp.plant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plant"
        [routerLink]="['/plant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecomApp.plant.home.createLabel"> Create a new Plant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plants?.length === 0">
    <span jhiTranslate="ecomApp.plant.home.notFound">No Plants found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="plants && plants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latinName">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.latinName">Latin Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stock">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.stock">Stock</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imagePath">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.imagePath">Image Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categories.id">
            <div class="d-flex">
              <span jhiTranslate="ecomApp.plant.categories">Categories</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plant', plant.id, 'view']">{{ plant.id }}</a>
          </td>
          <td>{{ plant.name }}</td>
          <td>{{ plant.latinName }}</td>
          <td>{{ plant.description }}</td>
          <td>{{ plant.price }}</td>
          <td>{{ plant.stock }}</td>
          <td>{{ plant.imagePath }}</td>
          <td>
            <span *ngFor="let categories of plant.categories; let last = last">
              <a class="form-control-static" [routerLink]="['/category', categories.id, 'view']">{{ categories.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plant', plant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/plant', plant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(plant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
